h1, p {
  font-family: Lato;
}

#name{
  text-align: left;
  color: black;
  font-weight: 800;
  border-bottom: 1px dotted;
}
a#name:hover {
    cursor: pointer;
    position: relative
}
a#name p{
    display: none
}
a#name:hover p {
    border: black 1px solid;
    padding: 5px 20px 5px 5px;
    display: table;
    position: absolute;
    left: 110%;
    top: -15px;
    background: white ;
}

#username{
  float: right;
  color: grey;
  font-weight: 300;
}